[Desktop Entry]
Type=Application
Name=XDAQ Starter
GenericName=XDAQ Starter
Exec=xterm -fa 'Monospace:size=12:antialias=true:hinting=true' -fg blue -bg white -geometry 80x48 -e "~/XDAQ/Tools/xdaq-starter.sh"
Icon=/usr/share/icons/gnome/256x256/xdaq-starter-logo.png
StartupNotify=true
Terminal=false
Categories=Development
Comment=XDAQ Starter: Bash script suitable for any Debian distribution
Comment[en_GB]=XDAQ Starter: Bash script suitable for any Debian distribution
Hidden=false
X-GNOME-Autostart-enabled=true
