[Desktop Entry]
Type=Application
Name=EAGLE PCB Design
GenericName=XDAQ - EAGLE PCB Design
Exec=eagle
Icon=/usr/share/icons/gnome/256x256/xdaq-eagle-logo.png
StartupNotify=true
Terminal=false
Categories=Development
Comment=Release suitable for Debian context
