[Desktop Entry]
Type=Application
Name=Libelium - Plug & Sense! (Code Generator)
GenericName=XDAQ - Libelium - Plug & Sense! (Code Generator)
Exec=iceweasel http://www.libelium.com/development/waspmote/code_generator\#
Icon=/usr/share/icons/gnome/256x256/xdaq-libelium-logo.png
StartupNotify=true
Terminal=false
Categories=Development
Comment=Release suitable for Arduino boards
