[Desktop Entry]
Type=Application
Name=Eclipse Luna (Arduino / Python / openFrameworks)
GenericName=XDAQ - Debianinux - Ecliplse Luna C/C++ Framework
Exec=eclipse
Icon=/usr/share/icons/gnome/256x256/xdaq-eclipse-icon.png
StartupNotify=true
Terminal=false
Categories=Development
Comment=Eclipse Luna C/C++ Framework
