[Desktop Entry]
Type=Application
Name=Terminal
GenericName=XDAQ Debianinux nome Terminal 
Exec=xdaq-terminal
Icon=openterm
StartupNotify=true
Terminal=false
Categories=Development
Comment=Gnome Terminal
Hidden=false
X-GNOME-Autostart-enabled=true
