[Desktop Entry]
Name=GNU Octave
Comment=Scientific Computing using GNU Octave
TryExec=/usr/bin/octave
Exec=/usr/bin/octave --force-gui
Icon=/usr/share/octave/4.0.0/imagelib/octave-logo.svg
Terminal=false
Type=Application
Categories=Education;Science;Math;
StartupNotify=false
MimeType=text/x-octave;text/x-matlab;
X-Desktop-File-Install-Version=0.22
Categories=Development
GenericName=XDAQ Debianinux
