[Desktop Entry]
Type=Application
Name=CuteCom
GenericName=CuteCom XDAQ Debianinux
Exec=cutecom
Icon=openterm
StartupNotify=true
Terminal=false
Categories=Development
Comment=Serial Receiver
