[Desktop Entry]
Type=Application
Name=Sunbedded - SODAQ - Mbili
GenericName=XDAQ - SODAQ - Mbili
Exec=iceweasel http://mbili.sodaq.net
Icon=/usr/share/icons/gnome/256x256/xdaq-sunbedded-logo.png
StartupNotify=true
Terminal=false
Categories=Development
Comment=Release suitable for Arduino boards
